// theme colors
$PrimaryColor: #00FDDC;
$SecondaryColor: #FF5666;
$TernaryColor: #AE76A6;
$QuaternaryColor: #72A8EA;
$LogoColor: #EEBEEA;
$FontColor: #DFD9E2;

@font-face {
	font-family: 'ubuntu-regular';
	src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100vh;
	text-align: center;
	font-family: 'ubuntu-regular';
	color: $FontColor;
	background: linear-gradient(to bottom right, $TernaryColor, $QuaternaryColor);
}

.logobar {
	width: 85%;
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 8vh;
}

.navbar {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-top: 4px solid transparentize($LogoColor, .4);
	padding: 1%;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

a:link, a:visited, a:active {
	text-decoration: none;
	font-size: 4vh;
	color: $LogoColor;
}

a:hover {
	text-decoration: none;
	color: $PrimaryColor;
}

.triangle {
	width: 90vh;
}

.quote-container {
	width: 80%;
	margin: auto;
	font-size: 10vh;
	margin-top: 4%;
}

.project-blurb {
	font-size: 3vh;
	padding: 2% 2%;
}

.profile_bar {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	width: 100%;

	.profile {
		padding: 1% 4%;
		width: 30%;

		.profile-pic {
			width: 26vh;
			border: 8px solid transparentize($LogoColor, .4);
			border-radius: 10%;
		}

		.profile-blurb {
			font-size: 2.5vh;
		}
	}
}

.photo-container {
	margin-top: -16vh;
	height: 100vh;
	max-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
