// theme colors
$PrimaryColor: #00FDDC;
$SecondaryColor: #FF5666;
$TernaryColor: #E8D7FF;
$QuaternaryColor: #FFD7D5;

* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom right, $TernaryColor, $QuaternaryColor);
}
