extends partials/header.pug

block bodyContent
  p.project-blurb Very exciting content about this website and the fabulous queers who made it here.
  div.profile_bar
    div.profile
      img(class="profile-pic" src="images/profiles/jacky.jpg")
      p.profile-blurb This is a blurb about Jacky.
    div.profile
      img(class="profile-pic" src="images/profiles/james.jpg")
      p.profile-blurb This is a blurb about James.
    div.profile
      img(class="profile-pic" src="images/profiles/jarquis.jpg")
      p.profile-blurb This is a blurb about Jarquis.
    div.profile
      img(class="profile-pic" src="images/profiles/jas.jpg")
      p.profile-blurb This is a blurb about Jas.
    div.profile
      img(class="profile-pic" src="images/profiles/jenn.jpg")
      p.profile-blurb This is a blurb about Jenn.
