extends partials/header.pug

block bodyContent
  h1 About this page
  div.profile
    img(class="profile-pic" src="#")
    p.profile-blurb This is a blurb about Jacky.
  div.profile
    img(class="profile-pic" src="#")
    p.profile-blurb This is a blurb about James.
  div.profile
    img(class="profile-pic" src="#")
    p.profile-blurb This is a blurb about Jarquis.
  div.profile
    img(class="profile-pic" src="#")
    p.profile-blurb This is a blurb about Jas.
  div.profile
    img(class="profile-pic" src="#")
    p.profile-blurb This is a blurb about Jenn.
  p.project-blurb Very exciting content about this website and the fabulous queers who made it here.
