extends partials/header.pug

block bodyContent
  div.profile_bar
    div.project-blurb
      p Queers, Quotes and Questions is a project by five web developers of varying identities.
      p The purpose of this project is to provide HQ photos of queer folks doing everyday things, inspirational quotes, and a chatbot full of resources
      p Meet the Team:
    div.profile
      img(class="profile-pic" src="images/profiles/jacky3.jpg")
      p.profile-blurb  Jacky is queer, quirky and quotable. She loves code, 👍 craft beer making 🍺 and creating new things 👻
    div.profile
      img(class="profile-pic" src="images/profiles/james.jpg")
      p.profile-blurb James has been out as some kind of queer for over 20 years. He writes JavaScript, too.
    div.profile
      img(class="profile-pic" src="images/profiles/jarquis.jpg")
      p.profile-blurb  Jarquis enjoys sports, building out features to an app or site and all things social media.
    div.profile
      img(class="profile-pic" src="images/profiles/jas.jpg")
      p.profile-blurb Jas is a writer, creator and a dreamer.  She's got a love for Javascript, learning new things and #QueerBlackGirlMagic .
    div.profile
      img(class="profile-pic" src="images/profiles/jenn.jpg")
      p.profile-blurb Jenn is a rad queer developer with a flair for frontend design.
