extends partials/header.pug

block bodyContent

  h1 Cute queers!
    div.photo-container
      p Future photos will live here.
      script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
      script(type="text/javascript" src="scripts/photos.js")

