extends partials/header.pug

block bodyContent
  div.photo-container
    button(type='button') click
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(type="text/javascript" src="scripts/photos.js")
