doctype html
  html
    head
      title Queers, Quotes and questions
      link(rel="stylesheet" href="style/style.css")
      script(type="text/javascript" src="scripts/script.js")
    body 
      block bodyContent
