doctype html
html
  head
    title Queers, Quotes and questions
    link(rel="stylesheet" href="style/style.css")
    script(type="text/javascript" src="scripts/script.js")
  body
    div.navbar
      ul
        li: a(href="/") Home
        li: a(href="/queerphotos") Queers
        li: a(href="/quotes") Quotes
        li: a(href="/questionsbot") Questions
        li: a(href="/about") About
    block bodyContent
